<header>
    <nav id="nav" class="navbar navbar-expand-sm navbar-dark bg-dark">
        <div class="container-fluid">
            <img src="/images/app-logo.jpg" alt="AurhWise-log" height="40px" width="40px">
            <a class="navbar-brand" href="#">AuthWise</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="mynavbar">
                <ul class="navbar-nav me-auto">
                    <!-- <li class="nav-item">
                        <a class="nav-link" href="javascript:void(0)">Link</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="javascript:void(0)">Link</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="javascript:void(0)">Link</a>
                    </li> -->
                </ul>
                <ul class="navbar-nav d-flex">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Default User</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>



<!-- <header id="layout-header">
    <nav>
        <div class="nav-left">
            <span>
                <a href="#">AuthWise</a>
            </span>
        </div>
        <div class="nav-right">
            <ul>
                <li>Default User</li>
                <li>
                    <a href="#">Logout</a>
                </li>
            </ul>
        </div>
    </nav>
</header> -->
