
<div class="container mt-3 d-flex justify-content-center">
    <div class="card" style="width:500px">
        <div class="container d-flex justify-content-center align-items-center border-bottom" style="height:3rem; width: 100%;">
            <h3>Find Your Account</h3>
        </div>

        <div class="card-body">
            <form id="sign-up-form" class="row d-flex justify-content-center align-items-center" action="/user/create" method="post">
                <div class="mt-3 mb-3">
                    <label for="email">
                        <h5>Please enter your email address to search for your account.</h5>
                    </label>
                    <input type="email" class="form-control" id="email" placeholder="Enter email" name="email" required>
                </div>

                <div class="mt-4 mb-4">
                    <a href="/" class="btn btn-secondary" style="height:100%;">Cancel</a>
                    <button class="btn btn-primary">Search</button>
                </div>
            </form>
        </div>
    </div>
</div>