<div class="container mt-3 d-flex justify-content-center">
    <div class="card" style="width:500px">
        <div class="container d-flex justify-content-center align-items-center" style="width: 100%;">
            <img class="card-img-top" src="/images/profile.png" alt="Card image" style="height:100px; width:100px">
        </div>
        <div class="card-body">
            <h4 class="card-title"><%= tempUser.name %></h4>
            <p class="card-text"><b>Email:</b> <%= tempUser.email %> </p>
            <a id="enable-edit-pswd" href="#demo" class="btn" data-bs-toggle="collapse">
                <b>Reset password</b>
            </a>
            <div id="demo" class="collapse">
                <form id="reset-password-form" class="row d-flex justify-content-center align-items-center" action="" method="post">
                    <div class="mb-3 mt-3">
                        <!-- <label for="new-pwd">Enter new password:</label> -->
                        <input type="password" class="form-control" id="new-pwd" placeholder="Enter new password" name="new_password">
                    </div>

                    <div class="mb-3 mt-3">
                        <!-- <label for="confirm-new-pwd">Confirm new password:</label> -->
                        <input type="password" class="form-control" id="confirm-new-pwd" placeholder="Confirm new password" name="confirm_new_password">
                    </div>
                    
                    <div>
                        <button class="btn btn-primary" style="width:150px;">Reset</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>