<div>
    <p>Hi <%= user.name %> </p>
    <br>
    <br>
    <p>Your registration with E-mail Id: <strong> <%= user.email %> </strong> is successfull. Please login to continue.</p>
    <br>
    <br>
    <p>Thank you</p>
    <p>AuthWise Team</p>
</div>