<div>
    <p>Hi <%= user.name %> </p>
    <br>
    <br>
    <p>Please access the below link to reset you password. The link will expire after the password is reset, make sure to remember your password.</p>
    <p>
        <a href="https://authwise-app.onrender.com/forgot-password/reset/<%= resetPasswordToken.accessToken %>">
            Reset_Password_Link
        </a>
    </p>
    <br>
    <br>
    <p>Thank you</p>
    <p>AuthWise Team</p>
</div>