#sign-up-form-container{
    position: absolute;
    top: 13%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#sign-up-form{
    height: 30rem;
    width: 25em;
    border: 1px solid lightgrey;
    border-radius: 5px;
    box-shadow: 0 0 10px #888888;;
    box-sizing: border-box;
    padding: 15px;
}

.g-recaptcha {
    transform: scale(1);
    transform-origin: 0 0;
}

/* Media queries */
@media screen and (max-width: 450px){
    #sign-up-form{
        width: 90%;
    }

    .g-recaptcha{
        transform: scale(0.7);
        transform-origin: 0 0;
    }
}